* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5292f1;
}

.section-top {
  background: linear-gradient(135deg, #3b82f6, #2563eb);
  color: white;
  padding: 70px 20px;
}

.section-mid {
  background-color: #f8f9fa;
}

.section-bot {
  background: linear-gradient(135deg, #3b82f6, #2563eb);
  color: white;
}

.footer-custom {
  background: linear-gradient(135deg, #3b82f6, #2563eb);
  color: white;
  text-align: center;
  padding: 1rem 0;
}

.footer-doacao {
  color: black;
  text-align: center;
  padding: 1rem 0;
}

.section-centralizada {
  padding: 25px;
}

.container-cadastro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5292f1;
}

.login-box {
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  background-color: #f4f6f8;
}

button {
  border-radius: 3px;
  margin: 10px;
}

.login {
  padding: 3px;
  background-color: blue;
  margin: 0;
}

#carousel {
  max-width: 700px;
  margin: 0 auto;
}

#carousel .carousel-item {
  aspect-ratio: 16 / 9;
}

#carousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.container-mt {
  padding: 5px;
}

.card-body {
  background-color: #fff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

.card {
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.card img {
  height: 200px;
  object-fit: cover;
}

.section-doacao {
  background: linear-gradient(135deg, #3b82f6, #2563eb);
}

#qrCode {
  padding: 20px;
  display: flex;
  justify-content: center;
}

#qrCode img {

  background-color: white;
  border-radius: 12px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media (max-width: 768px) {
  h1,
  h2,
  h3 {
    font-size: 22px;
    text-align: center;
  }

  p {
    font-size: 16px;
    text-align: justify;
  }

  .row {
    flex-direction: column !important;
  }

  .card {
    width: 100% !important;
    margin-bottom: 20px;
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }

  footer {
    text-align: center;
  }
}
