*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    background: #f4f6f8;
}


.container-login{

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5292f1
    ;

}
.container-home {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5292f1
    ;
}

.container {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.container-cadastro {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5292f1
    ;
}

.login-box {

    width:100%;
    max-width: 400px;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    background-color: #f4f6f8;

}

button {

    border-radius: 3px;
    margin: 10px;
    
}

.login {

    padding:3px;
    background-color: blue;
    margin: 0;

}

.carousel {
    max-width: 600px;
    margin: 0 auto; 
  }
  
  .carousel img {
    height: 300px;
    object-fit: cover;
  }


img {

    padding: 25px;
}  

.container-mt {

    padding: 5px;
    
}


.card-body {

    background-color: #fff;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.card {

    padding: 10px;
    
}

.section-doacao {

    background: linear-gradient(135deg, #16a34a, #15803d);
    color: white;
}

#qrCode {

    padding: 10px;
    gap: 20px;
    align-items: center;
    display: flex;
}